%TMPL:DEF{notusedyet}%
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    %TMPL:P{"windowtitle"}%
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>




      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>


%TMPL:END%






%TMPL:INCLUDE{"foswiki"}%

%{ **************************************************************************************************************************************************************************** }%
%{ ******************************************* }%
%TMPL:DEF{"simpleheader"}%%TMPL:P{"standardheader"}%%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"windowtitle"}%<title>%TMPL:P{"titleaction"}%%IF{"defined PAGETITLE" then="%PAGETITLE%" else="<nop>%TOPIC% &lt; %WEB% &lt; <nop>%WIKITOOLNAME%"}%</title>%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"copyright"}% %WEBRSSCOPYRIGHT% %BR% skin by <a href="http://fosiki.com">fosiki</a> %TMPL:END%
%{ ******************************************* }%
%{ ******************************************* }%
%TMPL:DEF{"user_unauthed"}%<li>
<form class="navbar-form pull-right" action="%LOGINURL%/%BASEWEB%/%BASETOPIC%" method="POST">
  <input type="text" name='username' class="span2">
  <input type="password"  name='password' class="span2">
  <button type="submit" class="btn">Login</button>
</li>%TMPL:END%
%TMPL:DEF{"user_authed"}%<li class="dropdown">
    <a class="dropdown-toggle" style="" data-toggle="dropdown" href="%SCRIPTURL{view}%/%USERSWEB%/%WIKINAME%">
      <i>%SPACEOUT{%WIKINAME%}%</i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
              <li><a href="%SCRIPTURL{view}%/%USERSWEB%/%WIKINAME%">Profile</a></li>
              <li><a href="%SCRIPTURL{view}%/%USERSWEB%/%WIKINAME%">Subscriptions</a></li>
              <li class="divider"></li>
              <li><a href="%LOGOUTURL%">Sign Out</a></li>
    </ul>
</li>%TMPL:END%
   
%{ **************************************************************************************************************************************************************************** }%
%TMPL:DEF{"topicinfo"}%%TMPL:P{context="authenticated" then="topicinfo_authed" else="topicinfo_unauthed"}%%TMPL:END%
%TMPL:DEF{"topicinfo_authed"}%<div class="foswikiTopicInfo NOnavbar navbar-fixed-bottom" style="text-align: right;margin-right: 20px;">
  <div class="NOnavbar-inner">
      <span class="btn btn-mini">%TMPL:P{"topicaction"}%</span>
  </div>
</div>%TMPL:END%
%{ ******************************************* }%
%{ ******************************************* }%
%TMPL:DEF{"bodystart"}%<body class="layout-%TMPL:P{widgetscolumns}% %IF{"context authenticated" then="authenticated"}% %IF{"context view" then="view"}% %IF{"'%BASEWEB%.%BASETOPIC%' allows 'CHANGE'" then="foswikiCanChangeBaseTopic "}%">
<style>.foswikiMain {padding-top: 36px;} 
.navbar-fixed-top .brand {padding-left:44px;background: no-repeat url(%PUBURL%/%SYSTEMWEB%/ProjectLogos/foswiki-logo-icon.png)}
body {overflow: hidden;}
.foswikiTextContainer {
overflow: auto;
position: fixed;
top: 41px;
bottom: 0px;
left: 0;
right: 0;
}</style>
%JQREQUIRE{bootstrap}%%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"standardheader"}%
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container-fluid">
    <a class="brand" href="#"> %WIKITOOLNAME% </a>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <span class="not_brand">%ICON{button-light-blue}% %NOP%%WIKITOOLNAME%</span>
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
%WEBLIST{"<li><span style=\"white-space:nowrap\"><a href=\"%SCRIPTURLPATH{"view"}%/$name/%HOMETOPIC%\"><img src=\"%ICONURL{web-bg}%\" border=\"0\" alt=\"\" width=\"16\" height=\"16\" style=\"background-color:%$markerVAR{\"WEBBGCOLOR\" web=$qname}$marker%\" />&nbsp;<nop>$indentedname</a></span></li>"}%                          
                </ul>
              </li>   
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      %BASEWEB%
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                          %INCLUDE{"%BASEWEB%.WebLeftBarExample,%USERSWEB%.WebLeftBarExample" section="topics"}%
                </ul>
              </li>            
              <li class="active"><a href="%SCRIPTURL{view}%/%BASEWEB%.%BASETOPIC%">%BASETOPIC%</a></li>
            </ul>
            <ul class="nav pull-right">
            <li>
            <form class="navbar-search" action="%SCRIPTURLPATH{view}%/%BASEWEB%/WebSearch" method="POST">
              <input type="text" class="search-query" placeholder="Search" name="search">
            </form> 
            </li>           
          %TMPL:P{context="authenticated" then="user_authed" else="user_unauthed"}%
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="foswikiTextContainer container-fluid">
          <div class="row-fluid">
          <div class="page-header NOhero-unit">
%TMPL:END%
%{ ******************************************* }%
%{ ******************************************* }%
%TMPL:DEF{"standardfooter"}%
    </div>
    </div>
    </div><!--/.fluid-container-->
	</span><!-- wiki_text -->
%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"bodyend"}%
  </body>
</html> %TMPL:END%
