%TMPL:INCLUDE{viewtopicactionbuttons}%

%TMPL:DEF{"sep"}% </span><span class="btn btn-mini"> %TMPL:END%

%{ nasty horible hack to get all the topic actions to be inside a btn span }%
%TMPL:DEF{"topicactionbuttons"}% <span class="btn btn-mini"> %TMPL:PREV% </span> %TMPL:END%
